<div class="row-fluid pagination-centered">
  <div class="span12">

    <div class="logo-head">
      <%= render :partial => 'shared/logo' %>
    </div>

    <div class="row">
      <div class="span12 faq-box">
      <h1>FAQs</h1>


      <div class="accordion" id="faq-accordion">
        <h3>General</h3>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              So what is Book Supply Co. exactly?
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              Book Supply Co.'s mission is to help you get your books from online retailers, <i>as easily as possible</i>. We all know that books online are cheaper, but it's a pain to look up books one by one on every site out there. Book Supply Co. automates this process so you dont have to.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Why are you doing this?
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Hi! I'm Ryan, the founder of Book Supply Co.</p>

              My girlfriend is currently a student, so I was manually searching for her books online when it occured to me that if I automated this process, not only would I never have to do that again, but everyone else could use it too. I happened to have recently become a web developer, so I decided to build Book Supply Co. to help everyone else out.
            </div>
          </div>
        </div>


        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              What's in this for you?
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              Amazon and Barnes and Noble give us a small percentage of the books that you order, but the price they charge you is exactly the same as if you had gone to Amazon yourself. Essentially, the online bookstores pay us some of the profit they would have made as a thank you because I sent you their way.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseG4">
              So you're trying to sell me books?
            </a>
          </div>
          <div id="collapseG4" class="accordion-body collapse">
            <div class="accordion-inner">
              Not exactly. We're actually not selling anything, just providing a service that figures out what books you need, presents you with some great online options, and links you straight to the choice you make. You are actually purchasing the books from the online bookstores (Amazon or Barnes and Noble) themselves after we link you to them.
            </div>
          </div>
        </div>

        <h3>Books</h3>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseB1">
              How do I know you'll get the right book?
            </a>
          </div>
          <div id="collapseB1" class="accordion-body collapse">
            <div class="accordion-inner">
              Book Supply Co. searches the web using the very specific ISBN13 (also known as EAN) for the exact book that your teacher specified. Because of this, you will always get the exact version of the book your class requires.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseB2">
              Even if my class requires a school specific edition?
            </a>
          </div>
          <div id="collapseB2" class="accordion-body collapse">
            <div class="accordion-inner">
              Yep! If your school does this, however, there is a very low chance that Amazon or Barnes and Noble carry that school specific version. But if for some reason they do, you will know that it is the exact version you need for class.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseB3">
              How long does it take to ship?
            </a>
          </div>
          <div id="collapseB3" class="accordion-body collapse">
            <div class="accordion-inner">
              That's something that you can choose when you check out with Amazon or Barnes and Noble. If you need your books faster, you'll probably pay more, but if you can wait a few days, shipping is usually free over $25. Amazon is actually offering <a href='http://www.amazon.com/gp/student/signup/info?ie=UTF8&refcust=HR7XOWUQOG6SMYEDL5FJBQACTU&ref_type=generic' target='_blank'>free 2 day shipping with Amazon Student.</a> That can be a good option for getting your books quickly and cheaply.
            </div>
          </div>
        </div>

        <h3>Security</h3>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseS1">
              Why do you need my login and password?
            </a>
          </div>
          <div id="collapseS1" class="accordion-body collapse">
            <div class="accordion-inner">
              Book Supply Co. was designed to make searching for books as easy as possible for you. In that vein, we decided that you giving us a piece of information that you can likely recall off the top of your head was easier than doing the manual steps of logging in to your school's website, finding your booklist, and entering your books on our website. So we designed Book Supply Co. to automate all that for you.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
              What do you do with my login and password?
            </a>
          </div>
          <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
              When we add a school to Book Supply Co., it automatically knows where the booklists reside for your specific university. Book Supply Co. uses your information to login and get your booklist, then it throws your login and password away forever.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
              How can I trust you?
            </a>
          </div>
          <div id="collapseSix" class="accordion-body collapse">
            <div class="accordion-inner">
              Honestly, we find it much easier to make money by sending you to get your books cheaply from Amazon than it is to scam people. This is why we don't even record logins or passwords: so we have no record of them that someone else could come steal from us.
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseS4">
              What kind of technologies do you use to keep me safe?
            </a>
          </div>
          <div id="collapseS4" class="accordion-body collapse">
            <div class="accordion-inner">
              Well first off, all your information is sent using Secure Socket Layer (SSL) technology, which makes it near impossible for anyone to intercept your data. You can tell it's working because there will usually be a lock next to the URL and it will say https:// instead of http://. But the best security is the fact that we don't ever record your information, so it can never be stolen.
            </div>
          </div>
        </div>



      </div>
    </div>

    <% if @school %>
      <%= link_to new_booklist_url :school => @school.slug do %>
        <button class="btn btn-warning give-try-btn">
          Give it a try!
        </button>
      <% end %>
    <% else %>
      <%= link_to root_url do %>
        <button class="btn btn-warning give-try-btn">
          Give it a try!
        </button>
      <% end %>
    <% end %>
    </div>

    <p>
      Have more questions? Let us know on <%= link_to "Facebook", 'http://www.facebook.com/booksupplyco' %>.
    </p>
    

    <%= render :partial => 'shared/socials' %>

  </div>
</div>