<div class="row-fluid">
	<table class="book-table table">

		<thead>
			<tr class="header-row">
				<th colspan="2">
					<label class="checkout-label">
						<input type="radio" id="simple" name="checkout-option" value="simple" class="checkout-radio">
						<span class="label">Just links</span>
					</label>
					<label class="checkout-label">
						<input type="radio" id="express" name="checkout-option" value="express" class="checkout-radio" checked="checked"> 
						<span class="label label-info">Express mode</span>
					</label>
				</th>
				<th class="header" colspan="2">Bookstore</th>
				<th class="header" colspan="2"><%= image_tag 'amazon-icon.jpg' %></th>
			</tr>
			<tr class="subhead-row">
				<th></th>
				<th></th>
				<!-- Bookstore -->
				<th class="subheader">
					<span class="label label-info">New</span>
				</th>
				<th class="subheader">
					<span class="label label-info">Used</span>
				</th>
				<!-- Amazon -->
				<th class="subheader">
					<span class="label label-info">New</span>
				</th>
				<th class="subheader">
					<span class="label label-info">Used</span>
				</th>

			</tr>

		</thead>
		
		<% @search.courses.each do |course| %>
			<tr>
				<td class="course-header" colspan=6>
					<%= course.department %> <%= course.number %>
				</td>
			</tr>
			<% course.books.each do |book| %>
				<tr class="book-row" id="book-row-<%= book.id %>">

					<td class="book-requirement">
							<span class="label requirement <%= requirement_class(book.requirement) %>">
								<%= book.requirement %>
							</span>
					</td>

					<td class="book-title">
						<span>
						<%= book.title %> 
						</span>
					</td>

					<!-- Bookstore -->
					<td class="book-bookstore bookstore-new" id="bookstore-new-<%= book.id %>">
						<span>
						<%= show_price(book.bookstore_new_price) %>
						</span>
					</td>

					<td class="book-bookstore bookstore-used" id="bookstore-used-<%= book.id %>">
						<span>
						<%= show_price(book.bookstore_used_price) %>
						</span>
					</td>

					<!-- Amazon -->
					<td class="book-query book-amazon amazon-new" id="amazon-new-<%= book.id %>">
						<div class="loading"></div>
					</td>

					<td class="book-query book-amazon amazon-used" id="amazon-used-<%= book.id %>">
						<div class="loading"></div>

					</td>

				</tr>
			<% end %>
		<% end %>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td colspan="2">
			</td>
			<td id="checkout-amazon-td" colspan="2" class="centered">
				<button class="btn btn-info" id="checkout-amazon"><span id="checkout-amazon-text">Checkout</span></button>
			</td>
		</tr>

	</table>
</div>