<%= form_for @search do |f| %>
	<table class="login">
		<tr>
			<td class="form-label-cell">
				<%= f.label "ODIN Username" %>
			</td>
			<td class="form-field-cell">
				<%= f.text_field :username, :class => 'form-field' %>
			</td>
		</tr>
		<tr>
			<td class="form-label-cell">
				<%= f.label :password %>
			</td>
			<td class="form-field-cell">
				<%= f.password_field :password, :class => 'form-field' %>
			</td>
		</tr>
	</table>
	<%= f.submit "Find my books!", :class => 'btn btn-large btn-school', :id => 'login-button' %>
<% end %>