<div class="row-fluid pagination-centered">
	<div class="span12">

		<div class="logo-outer">
			<div class="logo-inner">

				<div class="logo-front">
					<%= render :partial => 'shared/logo' %>
				</div>
				
				<div class="loginform">
					<%= render :partial => 'loginform' %>
				</div>

				<div class="about-info" style="display: none">
					<%= render :partial => 'about_info' %>
				</div>

		
				<button class="btn btn-warning" id="about-handle"> What the heck is Book Supply Co.??? </button>

				<div class="socials">
					<%= render :partial => 'shared/socials' %>
				</div>

			</div>
		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>

<script>
	$(document).ready(function(){
		// [----------------------------------------===== #NEW =====----------------------------------------]
		
		// [----------=====About Tab=====----------]

			console.log("whyproduc")
			$('#about-handle').toggle(
				function(){
					var el = $(this);
					$('.logo-inner').animate({'margin-top': '-350px'});
					$('.about-info').slideToggle();
					$(this).fadeOut(200,function(){
						$(this).text("OK, I got it!").fadeIn();
					});
					resizeExplanationDivs();
				},
				function(){
					$('.logo-inner').animate({'margin-top': '-250px'});
					$('.about-info').slideToggle();
					$(this).fadeOut(200,function(){
						$(this).text("Wait, what's this about again?").fadeIn();
						$('#aboutlink').remove();
					});
				}
			);

		// [----------=====Loading Modal=====----------]

			$('#loadingModal').modal({
				backdrop: 'static',
				keyboard: false,
				show: false
			});

			$('#login-button').click(function(){
				$('#icon-carousel').carousel({
					interval: 2500,
					pause: "false"
				}).carousel('cycle');
				$('#loadingModal').modal('show');
			})

		// [----------=====Keep the divs the same size =====----------]
	 var resizeExplanationDivs = function(){
	 		$('p.about-explanation').map(function(){$(this).removeAttr("style")});
			var sizes = $('p.about-explanation').map(function(){ return $(this).height() }).get();
			var maxSize = Math.max.apply(null,sizes);
			$('p.about-explanation').map(function(){$(this).height(maxSize)});
		}
		
	});
</script>