<div class="row-fluid pagination-centered">
	<div class="span12">

		<div class="logo-outer">
			<div class="logo-inner">

				<div class="logo-front">
					<%= render :partial => 'shared/logo' %>
				</div>
				
				<div class="loginform">
					<%= render :partial => 'loginform' %>
				</div>

				<div class="about-info" style="display: none">
					<%= render :partial => 'about_info' %>
				</div>

		
				<button class="btn btn-warning" id="about-handle"> What the heck is Book Supply Co.??? </button>

				<div class="socials">
					<%= render :partial => 'shared/socials' %>
				</div>

			</div>
		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>

<%= content_for :head do %>
		<%= render :partial => 'searches_new_js' %>
<% end %>