
<div class="row-fluid pagination-centered">
	<div class="span12">

		<div class="logo-head">
			<%= render :partial => 'shared/logo' %>
		</div>

		<div class="book-card">
			<%= render :partial => 'book_card' %>
		</div>

		<div class="socials">
			<%= render :partial => 'shared/socials' %>
		</div>
	</div>
</div>

<%= render :partial => 'tour' %>

<% content_for :page_js do %>
	<%= javascript_include_tag "searches/show" %>
<% end %>