<div class="row-fluid pagination-centered">
	<div class="span12" id="main">

		<div class="logo-head">
			<%= render :partial => 'logo' %>
		</div>

		<div class="row-fluid">
			<table class="book-table table">
				<thead>
					<th></th>
					<th></th>
					<th>PSU Bookstore</th>
					<th>Amazon.com</th>
				</thead>
				<% @search.courses.each do |course| %>
					<tr>
						<td class="course-header" colspan=4>
							<%= course.department %> <%= course.number %>
						</td>
					</tr>
						<% course.books.each do |book| %>
							<tr id="row-<%= book.id %>">
								<td class="book-requirement">
										<span class="label requirement <%= requirement_class(book.requirement) %>">
											<%= book.requirement %>
										</span>
								</td>
								<td class="book-title">
									<%= book.title %> 
								</td>
								<td class="book-bookstore" id="bookstore-<%= book.id %>">
									<%= show_price(book.bookstore_new_price) %>
								</td>
								<td class="book-amazon" id="amazon-<%= book.id %>">
									<div class="loading"></div>
								</td>
							</tr>
						<% end %>
				<% end %>
			</table>
		</div>
	
	</div>
</div>