<div id="paper-box-index" class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="index-content-box">

  	<%= render :partial => 'booklists/teach_me' %>

  	<%= render :partial => 'school_list' %>

	</div>

  <div class="actions-div">
    <%= render :partial => 'booklists/actions' %>
  </div>


</div>


<%= content_for :page_js do %>
	<%= javascript_include_tag "schools/schools.js" %>
<% end %>