<div id="paper-box-index" class="paper pagination-centered">

  <%= render :partial => 'shared/logo' %>

  <div class="index-content-box">

  	<%= render :partial => 'booklists/teach_me' %>

  	<%= render :partial => 'school_list' %>

	</div>

		<div class="tell-me-more-div">
	    <%= link_to about_path do %>	
	    	<button id="tell-me-more" class="btn btn-warning">Tell me more</button>
	    <% end %>
	  </div>


</div>


<%= content_for :page_js do %>
	<%= javascript_include_tag "schools/schools.js" %>
<% end %>