<div class="book-card-container">

  <%= render :partial => 'book_card_headers' %>

  <% @booklist.courses.each do |course| %>

    <%= render :partial => 'course_row', :locals => { :course => course } %>

    <% if course.books.present? %>

      <% course.books.each do |book| %>
        <%= render :partial => 'book_row', :locals => { :book => book } %>
      <% end %>

    <% else %>

      <%= render :partial => 'no_books_row' %>

    <% end %>

  <% end %>

  <%= render :partial => 'checkout_button' %>

</div>

