<div class="row-fluid">
	<table class="book-table table">

		<thead>
			<tr class="header-row">
				<th colspan="2">
					<label class="checkout-label">
						<input type="radio" id="simple" name="checkout-option" value="simple" class="radio-switch checkout-radio">
						<span class="label simple-button" id="simple-button">Just links</span>
					</label>
					<label class="checkout-label">
						<input type="radio" id="express" name="checkout-option" value="express" class="radio-switch checkout-radio" checked="checked"> 
						<span class="label label-info express-button" id="express-button">Express mode</span>
					</label>
				</th>
				<th class="header" colspan="2">Bookstore</th>
				<th class="header" colspan="2"><%= image_tag 'amazon-icon.jpg' %></th>
				<th class="header" colspan="2"><%= image_tag 'bn-icon.jpg' %></th>
			</tr>
			<tr class="subhead-row">
				<th></th>
				<th></th>
				<!-- Bookstore -->
				<th class="subheader">
					<span class="label label-info">New</span>
				</th>
				<th class="subheader">
					<span class="label label-info">Used</span>
				</th>
				<!-- Amazon -->
				<th class="subheader">
					<span class="label label-info">New</span>
				</th>
				<th class="subheader">
					<span class="label label-info">Used</span>
				</th>
				<!-- Barnes and Noble -->
				<th class="subheader">
					<span class="label label-info">New</span>
				</th>
				<th class="subheader">
					<span class="label label-info">Used</span>
				</th>
			</tr>

		</thead>
		
		<% @booklist.courses.each do |course| %>
			<tr>
				<td class="course-header" colspan=8>
					<%= course.department %> <%= course.number %>
				</td>
			</tr>

			<% course.books.each_with_index do |book,i| %>
				<tr class="book-row" id="book-row-<%= book.ean %>">

					<td class="book-requirement">
							<span class="label requirement <%= requirement_class(book.requirement) %>">
								<%= book.requirement %>
							</span>
					</td>

					<td class="book-title">
						<span>
							<%= book.title %> 
						</span>
					</td>

					<!-- Bookstore -->
					<td class="book-bookstore bookstore-new">
						<span>
						<%= show_price(book.bookstore_new_price) %>
						</span>
					</td>

					<td class="book-bookstore bookstore-used">
						<span>
						<%= show_price(book.bookstore_used_price) %>
						</span>
					</td>

					<!-- Amazon -->
					<td class="book-query book-amazon amazon-new <%= "first" if i == 0 %>">
						<div class="loading"></div>
					</td>

					<td class="book-query book-amazon amazon-used">
						<div class="loading"></div>

					</td>
					<!-- Barnes and Noble -->
					<td class="book-query book-bn bn-new">
						<div class="loading"></div>

					</td>
					<td class="book-query book-bn bn-used">
						<div class="loading"></div>

					</td>

				</tr>
			<% end %>
		<% end %>
		<tr class="checkout-row">
			<td></td>
			<td></td>
			<td colspan="2"></td>
			<td id="checkout-amazon-td" colspan="2" class="centered">
				<button type="submit" class="btn btn-info" id="checkout-amazon">
					<span id="checkout-amazon-icon-span">
						<i class="icon-amazon" id="checkout-amazon-icon"></i>
					</span>
					<span id="checkout-amazon-text">Checkout</span>
				</button>
			<td id="checkout-amazon-td" colspan="2" class="centered">
				<button type="submit" class="btn btn-info" id="checkout-bn">
					<span id="checkout-bn-icon-span">
						<%= image_tag 'bn-icon-16-white.png', :id => "checkout-bn-icon" %>
					</span>
					<span id="checkout-bn-text">Checkout</span>
				</button>
			</td>
			</td>
		</tr>

	</table>
</div>