<%= form_tag( booklists_path, :action => :post ) do %>
	<table class="login">
		<tr>
			<td class="form-label-cell">
				<%= label_tag(:username, @school.user_id_label) %>
			</td>
			<td class="form-field-cell">
				<%= text_field_tag "booklist[username]" %>
			</td>
		</tr>
		<tr>
			<td class="form-label-cell">
				<%= label_tag(:password) %>
			</td>
			<td class="form-field-cell">
				<%= password_field_tag "booklist[password]" %>
			</td>
		</tr>
	</table>
	<%= submit_tag "Find my books!", :class => 'btn btn-large btn-school', :id => 'login-button' %>
<% end %>