<div class="row-fluid pagination-centered">
	<div class="span12">
											
		<div id="paper-box" class="paper">

			<div class="logo-inner row-fluid">
				<%= render :partial => 'shared/logo' %>	
			</div>

			<div id="new-page-main-content" class="row-fluid">
				<%= render :partial => 'teach_me' %>

				<%= render :partial => 'go_time' %>
			</div>

		  <div class="actions-div">
		  	<%= render :partial => 'actions' %>
		  </div>
		  
		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>

<%= content_for :page_js do %>
	<%= javascript_include_tag "booklists/new" %>
<% end %>
