<div class="row-fluid pagination-centered">
	<div class="span12">

		<div id="paper-box" class="logo-outer span10 offset1 paper">

			<div class="logo-inner">

				<div class="logo-front">
					<%= render :partial => 'shared/logo' %>
				</div>
				
				<div class="loginform" style="display: none">
					<%= render :partial => 'loginform' %>
				</div>

				<div class="about-info-container">
				  <div class="about-info" style="display: none">
						<%= render :partial => 'shared/about_info' %>
					</div>
					<button class="btn btn-warning" id="about-handle" style="display:none"> What is Book Supply Co.??? </button>
				</div>

			</div>

		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>

<%= content_for :page_js do %>
	<%= javascript_include_tag "booklists/new" %>
<% end %>
