<div class="row-fluid pagination-centered">
	<div class="span12">
							
		<div id="paper-box" class="paper">
			<div class="logo-inner">
				<%= render :partial => 'shared/logo' %>
			</div>

			<div class="go-time" style="display:none">
				<div class="loginform">
					<%= render :partial => 'loginform' %>
				</div>

				<div class="about-info-container">
				  <div class="about-info" style="display: none">
						<%= render :partial => 'shared/about_info' %>
					</div>
					<button class="btn btn-warning" id="about-handle"> 
						Tell me more about Book Supply Co. 
					</button>
				</div>
			</div>

			<div class="teach-me" style="display: none">
				<div class="demo">

				</div>

				<div class="try-div">
					<button id="try" class="btn big-ass-button btn-large btn-school"> Try it now!</button>
				</div>
			</div>

		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>

<%= content_for :page_js do %>
	<%= javascript_include_tag "booklists/new" %>
<% end %>
