<div class="row-fluid pagination-centered">
	<div class="span12">

		<div class="logo-outer">
			<div class="logo-inner">

				<div class="logo-front">
					<%= render :partial => 'shared/logo' %>
				</div>
				
				<div class="loginform">
					<%= render :partial => 'loginform' %>
				</div>

				<%= render :partial => 'shared/about_info' %>

				<div class="socials">
					<%= render :partial => 'shared/socials' %>
				</div>

			</div>
		</div>

		<%= render :partial => 'loading_modal' %>

	</div>
</div>

<%= link_to root_url do %>
	<button class="btn btn-mini btn-warning other-school">
		Not your school?
	</button>
<% end %>

<%= content_for :page_js do %>
	<%= javascript_include_tag "booklists/new" %>
<% end %>
