

<div class="row pagination-centered">
	<div class="span12">

		<div class="book-card paper">
			<div class="logo-head">
				<%= render :partial => 'shared/logo' %>
			</div>

      <div class="show-welcome">
        <%= render :partial => 'show_welcome' %>
      </div>

      <div class="deals">
        <ul class="deals-list">
        <% @deals.each do |deal| %>
          <li class="deal"><%= link_to deal.description, deal.link %></li>
        <% end %>
        </ul>
      </div>

			<%= render :partial => 'book_card' %>
		</div>

	</div>
</div>

<% content_for :page_js do %>
	<%= javascript_include_tag "booklists/show", :debug => false %>
<% end %>