<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>BookSupply</title>
  <%= render :partial => 'shared/css' %>
  <%= render :partial => 'shared/meta_tags' %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => 'shared/google_analytics' %>
</head>
<body>
	<div id="fb-root"></div>
	<div class="container-fluid" >
		
		<!-- Flash -->
		<div id="flash">
			<% flash.each do |key,array| %>
				<div class="alert alert-<%= key %> fade in">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					<ul>
						<% array.each do |error| %>
							<li><%= error %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>

		<!-- Content -->
		<%= yield %>

	<div>
	<div id="jses">
		<%= yield :page_js %>
    <%= javascript_include_tag "logo.js" %>
  </div>
</body>
</html>
