<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>BookSupply</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% if @school %>
  	<%= stylesheet_link_tag "schools/" + @school.slug, :media => "all" %>
  <% end %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Book Supply Co."/> 
  <meta property="og:type" content="company"/> 
  <meta property="og:image" content="http://www.booksupply.co/assets/logo-square-200.png"/> 
  <meta property="fb:admins" content="3403944" />
  <meta name="alexaVerifyID" content="w0EKEuCXa0HXZwMCMCfgxo11ouw" />
  <%= javascript_include_tag "application" %>
  <%= render :partial => 'shared/google_analytics' %>
</head>
<body>
	<div id="fb-root"></div>
	<div class="container-fluid" >
		
		<!-- Flash -->
		<div id="flash">
			<% flash.each do |key,array| %>
				<div class="alert alert-<%= key %> fade in">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					<ul>
						<% array.each do |error| %>
							<li><%= error %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>

		<!-- Content -->
		<%= yield %>

	<div>
		

		<div id="jses">
			<%= yield :page_js %>
    </div>


</body>
</html>
