<!DOCTYPE html>
<html>
<head>
  <title>BookSupply</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		
		<!-- Flash -->
		<div id="flash">
			<% flash.each do |key,array| %>
				<div class="alert alert-<%= key %> fade in">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					<ul>
						<% array.each do |error| %>
							<li><%= error %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>

		<!-- Content -->
		<%= yield %>


	</div>
	<%= debug flash if Rails.env.development? %> 
	<%= javascript_include_tag "application" %>
</body>
</html>
